body {
	background-color: gray;
}

ul.checkmark li:before {
    content:"\2713\0020";
}

ul.checkmark {
    list-style-type: none;
}


section {text-decoration: line-through;}

h1 { color: orange;}

h2,h3,h4 { color: green;}
